body {
    background: rgb(31, 29, 29);
    margin: 0;
    overflow: hidden;
}



#circle1 {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: rgb(166, 57, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);

}

#circle2 {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: rgb(255, 57, 74);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#circle3 {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: rgb(105, 218, 111);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#circle4 {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: rgb(252, 228, 123);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    color: rgb(247, 234, 52);
}

.social-icons {
    position: absolute;
    top: 80%;
    left: -5%;
}

.icon {
    color: #fff;
    font-size: 1.5em;
    padding: 10px;
}

.icon:hover {
    color: rgb(247, 234, 52);

}

.corner-logo {
    background: rgb(247, 234, 52);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin: 20px;
}

.close {
    color: #fff;
    font-size: 4em;
    position: absolute;
    cursor: pointer;
    font-weight: 900;
    z-index: 2;
}

#circle1 p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}